
*{
    text-decoration:overline;
}
h1{
    font-style: italic;
    color: bisque;
}
h1{
    color: blue;
}

.blue{
    color: #0000ff;
}
.negrilla{
    font-weight: bolder;
}
input[type=text]{
    color:#0000ff;
}
input[type=email]{
    color: blue;
}
input[value]{
    font-style: italic;
}
h1{
    font-size: 58px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    font-style: oblique;
    text-align: center;
    text-decoration: line-through;
    text-transform: capitalize;
    text-decoration-color:blue;
    text-decoration-style: wavy;
    text-shadow: 1px 10px 10px rgb(8, 206, 156);
    text-indent: 5px;
    letter-spacing: 10px;
    word-spacing: 0px;
    word-wrap: break-word;
    border-width: 3px;
    border-color: rgb(49, 143, 115);
    border-style: dashed;
    border: 5px solid red;
    border-radius: 16px;
    border-left-color:#0000ff ;
    border-bottom-style:dashed ;
    border-top-right-radius: 0px;
    border-top-left-radius: 50%;
    border-right-color: #0000ff; 

}
.bg{
    border: 1px solid #75e40d;
    margin: 16px;
    margin: 16px 25px;
    margin: 16px 20px 24px 28px;
    margin-block: 50px;
    margin-top: 60px ;
    margin-bottom: 40px;
    margin-block-start: 60px;
    margin-block-end: 40px;
    margin-inline: 20px;
    margin-left: 15px;
    margin-right:25px ;
    margin-inline-start: 15px;
    margin-inline-end: 25px;
    text-align: center;
    


    padding: 32px;

    width: 80vw;
    height: 60vh;
    background-color: #ff25ff;
    background-image: url('../uncrop_hero_bdf08a8ca6.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    /* background-position: 10px 25px; */
    box-shadow: 1px -5px 10px 6px #000;

}
.boton{
    width: 150px;
    height: 80px;
    background-color: #ee17bf;
    color: #24e79c;
    transition-property: background-color,color,box-shadow;
    transition-duration: 2s,3s,500ms;
    transition-timing-function: linear;
    transition-delay: 1s,0s,0s;

}
.boton:hover{
    background-color: #1095ee;
    color: #0ec5e6;
    box-shadow: 1px -5px 10px 6px #000;
    
}
.c1{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #24e79c;
    position: fixed;
    top: 0px;
    left: 0px;
    animation-name: animacion1;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
@keyframes animacion1 {
    /* from{
        left: 0px;
        background-color: #1095ee;
    }
    to{
        left: 100vw;
        background-color: #ff25ff;
    } */
    0%{
        left: 0px;
        background-color: #1095ee;
    }
    25%{
      top: 300px;
    }
    50%{
        border-radius: 0px;
        box-shadow: 1px 1px 5px 10px #000;
    }
    75%{
        height: 300px;
    }
    100%{
        left: 100vw;
        background-color: #ff25ff;
    }
    
}